/**
 * index.scss
 * - Add any styles you want here!
 */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

a :hover {
  color: #48ddd8;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper-two {
  max-width: 980px;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
  }
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}

@media only screen and (max-width: 650px) {
  ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    padding-top: 1rem;
  }
}

ul li {
  list-style-type: none;
  padding: 0 1.25rem;
}

@media only screen and (max-width: 800px) {
  ul li {
    padding: 0.75rem;
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 600px) {
  ul li {
    padding: 0.25rem 1.25rem;
  }
}

.mobile__menu {
  z-index: 1000;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

@media only screen and (max-width: 650px) {
  .mobile__menu {
    display: inline-block;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.header__image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  max-width: 45rem;
  margin-top: -7em;
}

@media only screen and (max-width: 600px) {
  .header__image img {
    margin-top: -1rem;
  }
}

.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin: -2rem auto 0rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__main .home__buttons {
  background-color: #e5e2e2a6;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .home__main .home__buttons {
    text-align: center;
    padding: 0.5rem;
  }
}

.home__main span {
  font-size: 2.15rem;
}

@media only screen and (max-width: 875px) {
  .home__main span {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .home__main span {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.home__main .home__image {
  background-image: url("../images/salon-three.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .home__main .home__image {
    height: 175px;
  }
}

.home__main .home__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.home__main .home__images figure {
  margin: 0;
}

.home__main .home__images figure img {
  width: 100%;
  padding: none;
  opacity: 0.5;
}

.service {
  border-bottom: 1px solid #e5e2e2;
}

.service--last {
  border-bottom: none;
}

.service__info {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.services__image {
  background-image: url("../images/salon-two.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

@media only screen and (max-width: 575px) {
  .services__image {
    height: 200px;
  }
}

.membership__title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .membership__title {
    font-size: 2.75rem;
  }
}

.membership__subtitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .membership__subtitle {
    font-size: 1.5rem;
  }
}

.membership__offers {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.membership__offers p {
  padding: 0.25rem;
}

.membership__offers--last {
  font-size: 0.8rem;
  margin-top: 3rem;
}

.membership__image {
  background-image: url("../images/salon-seven.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

@media only screen and (max-width: 575px) {
  .membership__image {
    height: 200px;
  }
}

.about__title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .about__title {
    font-size: 3rem;
  }
}

.about__image {
  background-image: url("../images/about.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

@media only screen and (max-width: 575px) {
  .about__image {
    height: 200px;
  }
}

.about__container p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

footer {
  background-color: #e5e2e2;
  width: 100%;
  margin-top: 1rem;
}

footer .footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  footer .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

footer .footer__content .footer__title {
  font-weight: bold;
}

footer .footer__content .footer__hours {
  text-align: center;
}

footer .footer__content .footer__social {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  footer .footer__content .footer__social {
    text-align: center;
  }
}

footer .footer__content .footer__social i {
  font-size: 1.5rem;
  padding-left: 0.75rem;
}
/*# sourceMappingURL=main.css.map */