/**
 * index.scss
 * - Add any styles you want here!
 */

//Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

// Main styles
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

// Wrapper class
.wrapper {
  max-width: 1200px;
}

.wrapper-two {
  max-width: 960px;
}

// Header Styles
nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  z-index: 1000;
  li {
    list-style-type: none;
    padding: 0 1.25rem;
  }
}

.header__image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  img {
    align-self: center;
    width: 40%;
    margin-top: -7em;
  }
}

// Home page styles
.home__main {
  display: flex;
  justify-content: center;
  margin: auto;
  margin: -2rem auto 0rem auto;
  flex-direction: column;
  .home__buttons {
    background-color: #e5e2e2a6;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  span {
    font-size: 2.15rem;
  }
  .home__image {
    background-image: url('../images/salon-three.jpg');
    background-position: center;
    height: 350px;
  }
  .home__images {
    display: flex;
    margin-bottom: 1rem;
    figure {
      margin: 0;
      img {
        width: 100%;
        padding: none;
        opacity: 0.5;
      }
    }
  }
}

// Services styles
.service {
  border-bottom: 1px solid #e5e2e2;
}

.service--last {
  border-bottom: none;
}

.service__info {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.services__image {
  background-image: url('../images/salon-two.jpg');
  background-position: center;
  height: 350px;
}

// Membership styles
.membership__title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.membership__subtitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

.membership__offers {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  p {
    padding: 0.25rem;
  }
}

.membership__offers--last {
  font-size: 0.8rem;
  margin-top: 3rem;
}

.membership__image {
  background-image: url('../images/salon-seven.jpg');
  background-position: center;
  height: 350px;
}

// Footer styles
footer {
  background-color: #e5e2e2;
  width: 100%;
  margin-top: 1rem;
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    .footer__hours {
      text-align: center;
    }
    .footer__social {
      text-align: right;
      i {
        font-size: 1.5rem;
        padding-left: 0.75rem;
      }
    }
  }
}
